<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acronym Quiz</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<main>

    <h3 id="questionNumber">Question x of x</h3>
    <h1 id="question">What does XXX stand for?</h1>

    <div class="options">

        <button class="option">
            Lorem, ipsum dolor.
        </button>

        <button class="option">
            Lorem, ipsum dolor.
        </button>

        <button class="option">
            Lorem, ipsum dolor.
        </button>

        <button class="option">
            Lorem, ipsum dolor.
        </button>


    </div>

</main>

</body>
</html>